html {
  background: #f5f6f5;
  font-size: 14px;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 24px;
  }
}

body {
  max-width: 25em;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

#audio-selector {
  margin-top: 5em;
  font-size: 1.5em;
}

input, button {
  display: inline-block;
  font-size: 2em;
  width: 2em;
  text-align: center;
  box-shadow: none;
}

input {
  padding-right: 0.2em;
  height: 2.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
}

button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem #27496d;
  height: 2em;
}

button:focus,
button:hover {
  outline: none;
  background-color: #417cb8;
}

button:active {
  background-color: #417cb8;
  box-shadow: 0 0.2rem #27496d;
  transform: translateY(0.2rem);
}

.hidden {
  display: none;
}