html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: #f5f6f5;
  font-size: 18px;
}

body {
  max-width: 25em;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

#audio-selector {
  margin-top: 5em;
  font-size: 1.5em;
}

#audio-player {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

input[type="number"] {
  font-size: inherit;
  line-height: 1;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  padding-right: 0;
  text-align: center;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="number"]:focus {
  border: solid 5px #969696;
  outline: none;
}

button {
  font-size: inherit;
  line-height: 1;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border: solid 5px #c9c9c9;
  transition: all 0.3s;
  background: #f5f6f5;
}
button:focus {
  border: solid 5px #969696;
  outline: none;
}

button:active {
  background: white;
}

.hidden {
  display: none;
}